<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PredictNowAI Machine Learning Model</title>
</head>
<body>
    <form method="post">
        <input type="text" name="dp" placeholder="Enter dp Here"/><br>
        <input type="text" name="dy" placeholder="Enter dy Here"/><br>
        <input type="text" name="ep" placeholder="Enter ep Here"/><br>
        <input type="text" name="de" placeholder="Enter de Here"/><br>
        <input type="text" name="svar" placeholder="Enter svar Here"/><br>
        <input type="text" name="bm" placeholder="Enter bm Here"/><br>
        <input type="text" name="ntis" placeholder="Enter ntis Here"/><br>
        <input type="text" name="tbl" placeholder="Enter tbl Here"/><br>
        <input type="text" name="lty" placeholder="Enter lty Here"/><br>
        <input type="text" name="ltr" placeholder="Enter ltr Here"/><br>
        <input type="text" name="tms" placeholder="Enter tms Here"/><br>
        <input type="text" name="dfy" placeholder="Enter dfy Here"/><br>
        <input type="text" name="dfr" placeholder="Enter dfr Here"/><br>
        <input type="text" name="infl" placeholder="Enter infl Here"/><br>
        <input type="submit" value="Submit"/>
    </form>
    <p>
        Return is {{ prediction }}
    </p>
</body>
</html>